@import "./reset.css";
@import "./vars.css";

@import "./components/popup-contact.css";

@font-face {
  font-family: "Mulish";
  src: url(./../fonts/mulish/Mulish-VariableFont_wght.ttf);
}
@font-face {
  font-family: "Gilroy";
  src: url(./../fonts/girloy/Gilroy-Medium.ttf);
  font-weight: 500;
}

body {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;

  font-size: 16px;
  font-family: "Mulish", sans-serif;
  font-weight: 500;

  color: var(--main-text-color);
  background-color: var(--page-bg-color);
}
body.body-lock {
  overflow: hidden;
}
/* Custom Scroll */
*::-webkit-scrollbar {
  width: 6px;
  height: 0;
}
*::-webkit-scrollbar-track {
  background-color: var(--page-bg-color);
}
*::-webkit-scrollbar-thumb {
  -webkit-border-radius: 6px;
  border-radius: 6px;

  background-color: var(--accent-color);
}

/* ---- */
/* Global styles */

.sup--squared {
  position: relative;
}
.sup--squared::after {
  content: "2";
  position: absolute;
  top: -0.1em;
  right: -0.7em;
  font-size: 0.6em;
}

.container {
  max-width: 1300px;
  padding: 0 15px;
  margin: 0 auto;
}

.decor-lines__wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.decor-lines__content {
  padding: 5px 40px;
}
.decor-lines__line {
  position: relative;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -moz-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  height: 1px;
  background-color: var(--accent-color);
}
.decor-lines__line::before {
  content: "";
  position: absolute;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  min-height: 7px;
  height: 7px;
  min-width: 7px;
  height: 7px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;

  background-color: var(--accent-color);
}
.decor-lines__line:first-child:before {
  right: -7px;
}
.decor-lines__line:last-child:before {
  left: 0;
}

.card {
  width: 100%;
  padding: 15px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-border-radius: var(--default-border-radius);
  -moz-border-radius: var(--default-border-radius);
  border-radius: var(--default-border-radius);

  text-align: center;

  background-color: var(--card-bg-color);
}

.card-blink {
  position: relative;
  width: 100%;
  padding: 15px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-border-radius: var(--default-border-radius);
  -moz-border-radius: var(--default-border-radius);
  border-radius: var(--default-border-radius);

  text-align: center;

  background-color: var(--card-bg-color);
}
.card-blink::after {
  content: "";
  position: absolute;
  z-index: 2;
  top: 0;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 70%;
  height: 55%;
  background-image: url(./../images/blink.png);
  background-repeat: no-repeat;
  background-position: center;
  -webkit-background-size: 100% 100%;
  -moz-background-size: 100% 100%;
  background-size: 100% 100%;
}

.blink-line {
  position: relative;
  height: 1px;
  width: 100%;
}
.blink-line::before,
.blink-line::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;

  width: 100%;

  -webkit-transform: translate(-50%, -50%);

  -moz-transform: translate(-50%, -50%);

  -ms-transform: translate(-50%, -50%);

  -o-transform: translate(-50%, -50%);

  transform: translate(-50%, -50%);
}
.blink-line::after {
  content: "";
  height: 100%;
  min-height: 10px;
  min-width: 40px;

  background-image: url(./../images/blink.png);
  background-repeat: no-repeat;
  background-position: center;
  -webkit-background-size: 100% 100%;
  -moz-background-size: 100% 100%;
  background-size: 100% 100%;
}
.blink-line::before {
  content: "";
  width: 100%;
  height: 2px;
  background-color: var(--accent-color);
}
/* Titles */
.subtitle {
  font-size: 20px;
  line-height: 110%;
  color: var(--main-text-color);
  font-weight: 500;
  font-family: "Mulish";
}
.title--1 {
  font-size: 40px;
  color: var(--main-text-color);
  font-weight: 700;
  line-height: 114%;
  font-family: "Mulish";
}
.title--2 {
  font-size: 30px;
  line-height: 114%;
  color: var(--main-text-color);
  font-weight: 700;
  font-family: "Mulish";
  text-align: center;
}
/* Paragraphs */
.paragraph--1 {
  display: block;
  font-size: 20px;
  line-height: 110%;
  font-weight: 500;
  font-family: "Mulish";
  text-align: center;

  color: var(--main-text-color);
}
.paragraph--2 {
  font-size: 16px;
  line-height: 110%;
  font-weight: 500;

  font-family: "Mulish";
  color: var(--main-text-color);
}
/* Buttons */
.button--1 {
  display: inline-block;
  -webkit-border-radius: var(--default-border-radius);
  -moz-border-radius: var(--default-border-radius);
  border-radius: var(--default-border-radius);
  padding: 14px 30px;

  font-size: 16px;
  font-weight: 500;
  font-family: "Mulish";
  text-align: center;
  text-decoration: none;

  color: var(--main-text-color);
  background-color: var(--accent-color);

  -webkit-transition: all, 0.3s;

  -o-transition: all, 0.3s;

  -moz-transition: all, 0.3s;

  transition: all, 0.3s;
}
.button--1:hover {
  -webkit-box-shadow: 0px 0px 6px var(--accent-color);
  -moz-box-shadow: 0px 0px 6px var(--accent-color);
  box-shadow: 0px 0px 6px var(--accent-color);
}
/* Swiper slider */
.slider__arrows {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
}
.slider__arrow {
  display: block;
  height: 30px;
  width: 30px;

  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  background-position: center;

  -webkit-transition: opacity 0.3s;

  -o-transition: opacity 0.3s;

  -moz-transition: opacity 0.3s;

  transition: opacity 0.3s;
}
.slider__arrow--next {
  background-image: url("../images/icons/arrow-next.png");
}
.slider__arrow--prev {
  margin-right: 12px;
  background-image: url("../images/icons/arrow-prev.png");
}
.slider__arrow.swiper-button-disabled {
  opacity: 0.4;
}
/* Inputs */
.input {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 5px 20px;
  -webkit-border-radius: var(--default-border-radius);
  -moz-border-radius: var(--default-border-radius);
  border-radius: var(--default-border-radius);
  border: 1px solid var(--accent-color);

  font-family: "Gilroy";
  font-size: 14px;
  line-height: 120%;

  color: var(--main-text-color);
  background-color: rgba(0, 0, 0, 0.1);
}
.input--2 {
  padding: 12px 18px;
  -webkit-border-radius: var(--default-border-radius);
  -moz-border-radius: var(--default-border-radius);
  border-radius: var(--default-border-radius);
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;

  font-size: 14px;
  font-family: "Gilroy";

  width: 100%;

  color: var(--dis-accent-color);
  border: 1px solid var(--dis-accent-color);
  background-color: transparent;

  -webkit-transition: all, 0.3s;

  -o-transition: all, 0.3s;

  -moz-transition: all, 0.3s;

  transition: all, 0.3s;
}
.input--2:focus-visible {
  outline-color: var(--accent-color);
}
.input::-webkit-input-placeholder {
  font-size: 14px;
  font-weight: 500;

  color: var(--grey-color);
}
.input:-moz-placeholder {
  font-size: 14px;
  font-weight: 500;

  color: var(--grey-color);
}
.input::-moz-placeholder {
  font-size: 14px;
  font-weight: 500;

  color: var(--grey-color);
}
.input:-ms-input-placeholder {
  font-size: 14px;
  font-weight: 500;

  color: var(--grey-color);
}
.input::-ms-input-placeholder {
  font-size: 14px;
  font-weight: 500;

  color: var(--grey-color);
}
.input::placeholder {
  font-size: 14px;
  font-weight: 500;

  color: var(--grey-color);
}
.input:focus-visible {
  outline: 1px solid var(--main-text-color);
}
input[type="submit"] {
  border: none;

  cursor: pointer;
}
/* Checkbox */
.input-checkbox {
  width: 0;
  height: 0;
  opacity: 0;
  position: absolute;
  z-index: -1;
}
.input-checkbox-custom {
  position: relative;
  display: block;
  width: 30px;
  height: 30px;
  min-width: 30px;
  min-height: 30px;
  -webkit-border-radius: var(--default-border-radius);
  -moz-border-radius: var(--default-border-radius);
  border-radius: var(--default-border-radius);
  border: 2px solid var(--accent-color);

  background-color: transparent;
  cursor: pointer;
}
.input-checkbox-custom::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);

  -webkit-border-radius: var(--default-border-radius);

  -moz-border-radius: var(--default-border-radius);

  border-radius: var(--default-border-radius);
  width: 15px;
  height: 15px;

  background-color: var(--accent-color);

  -webkit-transition: all, 0.3s;

  -o-transition: all, 0.3s;

  -moz-transition: all, 0.3s;

  transition: all, 0.3s;
  opacity: 0;
}
.input-checkbox:checked + .input-checkbox-custom::before {
  opacity: 1;
}
/* radio */
.input-radio {
  width: 0;
  height: 0;
  opacity: 0;
  position: absolute;
  z-index: -1;
}
.input-radio-custom {
  position: relative;
  display: block;
  width: 18px;
  height: 18px;
  min-width: 18px;
  min-height: 18px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;

  -webkit-border-radius: 50%;

  -moz-border-radius: 50%;

  border-radius: 50%;
  border: 1px solid rgba(91, 91, 96, 0.7);

  cursor: pointer;
}
.input-radio-custom::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);

  -webkit-border-radius: var(--default-border-radius);

  -moz-border-radius: var(--default-border-radius);

  border-radius: var(--default-border-radius);
  width: 9px;
  height: 9px;

  background-color: var(--accent-color);

  -webkit-transition: all, 0.3s;

  -o-transition: all, 0.3s;

  -moz-transition: all, 0.3s;

  transition: all, 0.3s;
  opacity: 0;
}
.input-radio:checked + .input-radio-custom {
  border-color: var(--main-text-color);
}
.input-radio:checked + .input-radio-custom::after {
  opacity: 1;
}
/* olli */
.list-decor {
  list-style: none;
}
.list-decor li {
  position: relative;
  padding-left: 16px;
}
.list-decor li::after {
  position: absolute;
  content: "";
  top: 5px;
  left: 0;

  width: 7px;
  height: 7px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;

  background-color: var(--accent-color);
}
.list-decor li:not(:last-child) {
  margin-bottom: 13px;
}

/* Popup */
.popup {
  position: fixed;
  z-index: 10;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  -webkit-transition: all 0.5s;

  -o-transition: all 0.5s;

  -moz-transition: all 0.5s;

  transition: all 0.5s;
  opacity: 0;
  visibility: hidden;

  overflow-y: auto;
  overflow-x: hidden;
}
.popup.popup--open {
  opacity: 1;
  visibility: visible;
}
.popup__body {
  padding: 10px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;

  min-height: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  z-index: 10;

  background-color: rgba(0, 0, 0, 0.3);
}
.popup__content {
  position: relative;
  z-index: 9;
  padding: 40px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;

  -webkit-border-radius: 20px;

  -moz-border-radius: 20px;

  border-radius: 20px;
  border: 1px solid var(--accent-color);

  background-color: var(--page-bg-color);

  /* box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3); */
}
.popup__btn-close {
  position: absolute;
  top: 30px;
  right: 30px;
  padding: 5px;
}
.popup__btn-close svg {
  stroke: var(--color-text-2);
  -webkit-transition: all, 0.3s;
  -o-transition: all, 0.3s;
  -moz-transition: all, 0.3s;
  transition: all, 0.3s;
}
.popup__btn-close:hover svg {
  stroke: var(--color-accent-1);
}
/* Медиа запросы для глобальных стилей */
@media (max-width: 600px) {
  .title--1 {
    font-size: 30px;
  }
  .title--2 {
    font-size: 20px;
  }
  .button--1 {
    padding: 12px 26px;
  }
  .subtitle {
    font-size: 16px;
  }
  .paragraph--1 {
    font-size: 14px;
  }
  .paragraph--2 {
    font-size: 14px;
  }

  .button--1:hover {
    -webkit-box-shadow: 0px 0px 6px var(--accent-color);
    -moz-box-shadow: 0px 0px 6px var(--accent-color);
    box-shadow: 0px 0px 6px var(--accent-color);
  }
}
@media (max-width: 460px) {
  .title--1 {
    font-size: 20px;
  }
  .button--1 {
    font-size: 14px;
    padding: 8px 24px;
  }
  .subtitle {
    font-size: 14px;
  }
  .button--1,
  .input {
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
  }
  .list-decor li:not(:last-child) {
    margin-bottom: 11.05px;
  }
  .list-decor li::after {
    width: 5px;
    height: 5px;
  }
  .decor-lines__content {
    padding: 5px 20px;
  }
}
@media (max-width: 360px) {
  .container {
    padding: 0 10px;
  }

  .decor-lines__content {
    padding: 5px 15px;
  }
}
