@import "./reset.css";
@import "./vars.css";

body {
  box-sizing: border-box;

  font-size: 16px;
  font-family: "Mulish", sans-serif;
  font-weight: 500;

  color: var(--main-text-color);
  background-color: var(--page-bg-color);

  /* Imitation header "delete later"*/
  margin-top: 100px;
}

/* Custom Scroll */
*::-webkit-scrollbar {
  width: 0px;
  height: 0;
}
*::-webkit-scrollbar-track {
  background-color: var(--page-bg-color);
}
*::-webkit-scrollbar-thumb {
  background-color: var(--accent-color);
}

/* ---- */
/* Global styles */

.sup--squared {
  position: relative;
}
.sup--squared::after {
  content: "2";
  position: absolute;
  top: -0.1em;
  right: -0.7em;
  font-size: 0.6em;
}

.container {
  max-width: 1300px;
  padding: 0 15px;
  margin: 0 auto;
}

.decor-lines__wrapper {
  display: flex;
  align-items: center;
}
.decor-lines__content {
  padding: 5px 40px;
}
.decor-lines__line {
  position: relative;
  flex-grow: 1;
  flex-shrink: 0;
  height: 1px;
  background-color: var(--accent-color);
}
.decor-lines__line::before {
  content: "";
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  min-height: 7px;
  height: 7px;
  min-width: 7px;
  height: 7px;
  border-radius: 50%;

  background-color: var(--accent-color);
}
.decor-lines__line:first-child:before {
  right: -7px;
}
.decor-lines__line:last-child:before {
  left: 0;
}

.paragraph--1 {
  display: block;
  font-size: 20px;
  font-weight: 500;
  font-family: "Mulish";
  text-align: center;

  color: var(--main-text-color);
}
.paragraph--2 {
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;

  font-family: "Mulish";
  color: var(--main-text-color);
}

.card {
  width: 100%;
  padding: 15px;
  box-sizing: border-box;
  border-radius: var(--default-border-radius);

  text-align: center;

  background-color: var(--card-bg-color);
}
/* Titles */
.subtitle {
  font-size: 20px;
  color: var(--main-text-color);
  font-weight: 500;
  font-family: "Mulish";
}
.title--1 {
  font-size: 40px;
  color: var(--main-text-color);
  font-weight: 700;
  line-height: 44px;
  font-family: "Mulish";
}
.title--2 {
  font-size: 30px;
  color: var(--main-text-color);
  font-weight: 700;
  font-family: "Mulish";
  text-align: center;
}

/* Buttons */
.button--1 {
  display: inline-block;
  border-radius: var(--default-border-radius);
  padding: 14px 30px;

  font-size: 16px;
  font-weight: 500;
  font-family: "Mulish";
  text-align: center;
  text-decoration: none;

  color: var(--main-text-color);
  background-color: var(--accent-color);
}

/* Swiper slider */
.slider__arrows {
  display: flex;
}
.slider__arrow {
  display: block;
  height: 30px;
  width: 30px;

  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.slider__arrow--next {
  background-image: url("../images/arrow-next.png");
}
.slider__arrow--prev {
  margin-right: 12px;
  background-image: url("../images/arrow-prev.png");
}
