:root {
  --page-bg-color: #1b1b23;
  --page-bg-color-RGB: 27, 27, 35;
  --main-text-color: #ffffff;
  --accent-color: #ff2c37;
  --accent-color-RGB: 255, 44, 55;
  --grey-color: #b0b0b0;
  --card-bg-color: #24242d;
  --card-bg-color-2: #2c2c35;

  --default-border-radius: 12px;
}
