@import "./video.css";

.about-company-hero__inner {
  padding-top: 38px;
  margin-bottom: 56px;

  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 15px 40px;
}
.about-company-hero__info {
  box-sizing: border-box;
  padding: 60px 40px 40px 40px;

  text-align: left;
}
.about-company-hero__title {
  padding-bottom: 31px;
  margin-bottom: 31px;

  text-align: left;
  line-height: 119%;

  border-bottom: 1px solid var(--accent-color);
}
.about-company-hero__paragraph {
  max-width: 430px;

  text-align: left;
  line-height: 120%;
}
.about-company-hero__video-wrapper {
}
.about-company-hero__video {
}
