.contact-resume__inner {
  margin-bottom: 45px;
}
.contact-resume__content {
  margin-top: 31px;
}
.contact-resume__form {
  display: flex;
  flex-direction: column;
  max-width: 300px;
  margin: 0 auto;
}
.contact-resume__form-label {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;

  font-size: 16px;
  font-weight: 500;
  font-family: "Gilroy";
}
.contact-resume__form-label--file {
  margin-bottom: 37px;
}
.contact-resume__form-label--examination {
  margin-bottom: 37px;
  height: 77px;
  background-color: #fff;
}
.contact-resume__form--custom-file {
  position: relative;
  display: block;
  margin-top: 8px;
  border-radius: var(--default-border-radius);
  border: 1.5px dotted var(--accent-color);
  padding: 13px 16px;

  line-height: 100%;
  font-size: 14px;
  font-weight: 500;
  font-family: "Gilroy";

  color: var(--accent-color);

  cursor: pointer;
}

.contact-resume__form--custom-file::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 1%;
  transform: translate(-50%, -50%);

  width: 16px;
  height: 16px;

  background-image: url(./../../images/icons/load-plus.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
.contact-resume__form-input {
  margin-top: 8px;
  padding: 12px 17px;

  font-family: "Gilroy";
  font-size: 14px;
  font-weight: 500;

  color: #808080;
  border-color: #808080;
}

.contact-resume__form-input--file {
  padding: 0;
  width: 0.1px;
  height: 0.1px;
  overflow: hidden;
  opacity: 0;
  position: absolute;
  z-index: -1;
}

.contact-resume__form-submit {
  padding: 11px;
  line-height: 130%;
}

.contact-resume__privacy-policy {
  max-width: 425px;
  margin: 27px auto 58px auto;

  line-height: 130%;
  font-size: 16px;
  text-align: center;
  text-decoration: none;

  font-weight: 500;
  font-family: "Gilroy";

  color: #808080;
}
.contact-resume__privacy-policy-link {
  color: var(--accent-color);
  text-decoration: none;
}
.contact-resume__privacy-policy-link:hover {
  text-decoration: underline;
}

.contact-resume__topical-vacancies {
  line-height: 120%;
}
.contact-resume__topical-vacancies-link {
  position: relative;
  display: inline-block;
  color: var(--accent-color);
  text-decoration: none;
}
.contact-resume__topical-vacancies-link::after {
  content: "";
  position: absolute;
  bottom: -1%;
  right: 0;
  left: 0;
  height: 2px;
  background-color: var(--accent-color);

  transition: all, 0.3s;
}
.contact-resume__topical-vacancies-link:hover:after {
  background-color: transparent;
}
