.franchise-production__inner {
  margin-bottom: 57px;
}
.franchise-production__title {
  max-width: 600px;
  margin: 0 auto 23px auto;
  line-height: 120%;
}
.franchise-production__paragraph {
  max-width: 940px;
  margin: 0 auto 42px auto;
}

.franchise-production__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 50px;
}
.franchise-production__item {
  position: relative;
}

.franchise-production__item-img-wrapper {
  position: relative;
  width: 100%;
  max-width: 400px;
  margin-bottom: 31px;
}
.franchise-production__item-img-wrapper::after {
  content: "";
  position: absolute;
  top: 50%;
  right: -8%;
  width: 7px;
  height: 7px;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  z-index: 2;

  background-color: var(--accent-color);
}

.franchise-production__item:nth-child(3n)
  .franchise-production__item-img-wrapper::after {
  content: none;
}

.franchise-production__item-img {
  -webkit-border-radius: var(--default-border-radius);
  -moz-border-radius: var(--default-border-radius);
  border-radius: var(--default-border-radius);
  overflow: hidden;

  width: 100%;
  display: block;
  -o-object-fit: cover;
  object-fit: cover;
}
.franchise-production__item-title {
  text-align: left;
  margin-bottom: 20px;
}
.franchise-production__item-paragraph {
  max-width: 369px;
  line-height: 120%;
}
.franchise-production__item-blink-line {
  margin-bottom: 15px;
}
.franchise-production__item-blink-line::after {
  min-height: 25px;
  width: 90%;
  min-width: 20px;
}

/*  */

@media (max-width: 1215px) {
  .franchise-production__list {
    grid-gap: 30px;
  }
  .franchise-production__item-title {
    font-size: 26px;
  }
  .franchise-production__item-img-wrapper::after {
    right: -6.5%;
  }
}
@media (max-width: 1000px) {
  .franchise-production__list {
    grid-template-columns: repeat(2, 1fr);
  }
  .franchise-production__item-img-wrapper {
    max-width: 100%;
  }
  .franchise-production__item-img-wrapper::after {
    content: none;
  }
}

@media (max-width: 690px) {
  .franchise-production__paragraph {
    margin-bottom: 30px;
  }
  .franchise-production__list {
    grid-template-columns: 1fr;
    max-width: 390px;
    margin: 0 auto;
  }
  .franchise-production__item-blink-line {
    display: none;
  }
  .franchise-production__item-img-wrapper {
    margin-bottom: 20px;
  }
  .franchise-production__item-title {
    margin-bottom: 15px;

    text-align: center;
  }
  .franchise-production__item-paragraph {
    max-width: 300px;
    margin: 0 auto;

    text-align: center;
  }
}
@media (max-width: 460px) {
  .franchise-production__inner {
    margin-bottom: 17px;
  }
  .franchise-production__title {
    max-width: 300px;
    margin-bottom: 14px;
  }
  .franchise-production__paragraph {
    max-width: 336px;
    margin-bottom: 30px;
    line-height: 121%;
  }

  .franchise-production__list {
    grid-gap: 20px;
  }

  .franchise-production__item br {
    display: none;
  }

  .franchise-production__item-img-wrapper {
    margin-bottom: 13px;
  }

  .franchise-production__item-title {
    margin-bottom: 13px;
    font-size: 20px;
  }

  .franchise-production__item-paragraph {
    max-width: 309px;

    font-size: 16px;
  }
  .franchise-production__item:nth-child(4) .franchise-production__item-title {
    margin: 0px -15px 13px -15px;
  }
  .franchise-production__item:last-child .franchise-production__item-paragraph {
    max-width: 330px;
  }
  .franchise-production__item:nth-child(3)
    .franchise-production__item-paragraph {
    max-width: 320px;
  }
}
