.geo-map {
  position: relative;
  max-width: 632px;
  max-height: 343px;
  width: 100%;
  height: 100%;
  margin: 0 auto;
}
.geo-map__img {
  position: relative;
  z-index: 2;
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
  object-fit: contain;
}
.geo-map__bg {
  position: absolute;
  z-index: 0;

  top: 55%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 75%;
  height: 55%;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;

  background-color: var(--accent-color);

  -webkit-filter: blur(40px);

  filter: blur(40px);
  opacity: 0.7;
}
