.hero__inner {
  position: relative;
  padding-top: 17px;
  margin-bottom: 34px;
}

.hero__slider {
  position: relative;
}

.hero__slider-slide {
  -webkit-border-radius: var(--default-border-radius);
  -moz-border-radius: var(--default-border-radius);
  border-radius: var(--default-border-radius);
  overflow: hidden;
  width: 100%;

  -webkit-box-sizing: border-box;

  -moz-box-sizing: border-box;

  box-sizing: border-box;
  width: 100%;
  height: 100%;
  padding: 78px 65px 60px 65px;

  min-height: 450px;
  max-height: 450px;

  background-image: url("../../images/hero-slider-bg--pc.png");
  background-repeat: no-repeat;
  background-position: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
}
.hero__slider-slide-content {
}

.hero__title {
  max-width: 500px;
  width: 100%;
  margin-bottom: 31px;
}

.hero__slider-arrows {
  position: absolute;
  bottom: 60px;
  left: 65px;
  z-index: 10;
}

/* Media adaptive */
@media (max-width: 1000px) {
  .hero__slider-slide {
    padding: 40px;
    min-height: 400px;
  }

  .hero__slider-arrows {
    left: 40px;
    bottom: 40px;
  }
}
@media (max-width: 600px) {
  .hero__inner {
    padding-top: 0;
    margin-bottom: 5px;
  }
  .hero__slider-slide {
    padding: 20px;
    min-height: 300px;
  }
  .hero__title {
    max-width: 300px;
    margin-bottom: 20px;
  }
  .hero__slider-arrows {
    left: 20px;
    bottom: 20px;
  }
}
@media (max-width: 460px) {
  .hero__slider-slide {
    padding: 15px;
    min-height: 200px;
    background-image: url("../../images/hero-slider-bg--mobile.png");
  }
  .hero__title {
    max-width: 230px;
  }
}
