.our-goal__inner {
  margin-bottom: 42px;
}
.our-goal__content {
  margin-top: 26px;
}

/* Top */

.our-goal__paragraph {
  margin-bottom: 42px;
}
.our-goal__logo-wrapper {
  max-width: 334px;
  max-height: 124px;
  width: 100%;
  height: 100%;
  margin: 0 auto 40px auto;
}
.our-goal__logo {
  width: 100%;
  display: block;
  object-fit: cover;
}

/* Invite */
.our-goal__invite {
  margin-bottom: 70px;
}
.our-goal__invite-title {
  margin-bottom: 16px;
}
.our-goal__invite-title--accent {
  color: var(--accent-color);
}
.our-goal__invite-decor {
  position: relative;

  max-width: 1045px;
  width: 80%;
  height: 1px;
  margin: 0 auto 40px auto;
  background-color: var(--accent-color);
}
.our-goal__invite-decor--left,
.our-goal__invite-decor--right,
.our-goal__invite-decor--center {
  content: "";
  position: absolute;
  transform: translateX(-50%);

  width: 10px;
  height: 42px;
  min-height: 42px;
}
.our-goal__invite-decor--left {
  top: 0px;
  left: -4px;

  border: 2px solid var(--accent-color);
  border-right: none;
  border-bottom: none;
  border-top-left-radius: 30px;
}
.our-goal__invite-decor--center {
  top: 0;
  left: 50%;

  width: 1px;
  background-color: var(--accent-color);
}
.our-goal__invite-decor--right {
  top: 0;
  right: -17px;

  border: 2px solid var(--accent-color);
  border-left: none;
  border-bottom: none;
  border-top-right-radius: 30px;
}
.our-goal__invite-list {
  display: flex;
}
.our-goal__invite-item.card-blink {
  padding: 15px 6px;
  display: flex;
  align-items: center;
  justify-content: center;

  min-height: 120px;
  height: 100%;

  font-size: 20px;
  line-height: 120%;
  font-weight: 700;
}
.our-goal__invite-item.card-blink::after {
  max-height: 40px;
  width: 70%;
}

/* You-get */
.our-goal__you-get {
  position: relative;
  padding: 60px 100px;

  border: 2px solid var(--accent-color);
  border-radius: var(--default-border-radius);
}
.our-goal__you-get-title {
  position: absolute;
  top: -1px;
  left: 50%;
  transform: translate(-50%, -50%);

  padding: 34px;

  background-color: var(--page-bg-color);
}
.our-goal__you-get-title::after,
.our-goal__you-get-title::before {
  content: "";
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  min-height: 7px;
  height: 7px;
  min-width: 7px;
  height: 7px;
  border-radius: 50%;
  background-color: var(--accent-color);
}
.our-goal__you-get-title::after {
  right: -9px;
}
.our-goal__you-get-title::before {
  left: 0;
}
.our-goal__you-get-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-auto-flow: column;
  grid-gap: 60px 20px;
  /* Counter */
  counter-reset: our-goal__you-get-list;
}
.our-goal__you-get-item {
  position: relative;
  display: grid;
  grid-template-columns: 0.1fr 1fr;
}

.our-goal__you-get-item::before {
  counter-increment: our-goal__you-get-list;
  content: counter(our-goal__you-get-list);

  display: flex;
  align-items: center;
  margin-right: 10px;

  font-size: 40px;
  font-weight: 700;

  color: var(--accent-color);
}

.our-goal__you-get-item p {
  position: relative;
  display: flex;
  align-items: center;
  padding-left: 25px;

  font-size: 20px;
  font-weight: 700;
  text-align: left;
}

.our-goal__you-get-item p::before {
  content: "";
  position: absolute;
  top: 50%;
  left: -8px;
  min-height: 50px;
  height: 50px;
  width: 15px;

  transform: translateY(-50%);

  background-image: url(../../images/blink-vertical.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100% 100%;
}
.our-goal__you-get-item p::after {
  content: "";
  position: absolute;
  top: 50%;
  left: -1px;
  transform: translateY(-50%);
  min-height: 50px;
  height: 50px;
  width: 1px;
  background-color: var(--accent-color);
}
@media (max-width: 1200px) {
  /* .our-goal__invite-decor {
    display: none;
  } */
  .our-goal__invite-item.card-blink {
    font-size: 18px;
    padding: 15px 2px;
  }
  .our-goal__invite-decor {
    width: 79%;
  }
  .our-goal__you-get {
    padding: 50px;
  }
}
@media (max-width: 1000px) {
  .our-goal__invite-decor {
    display: none;
  }
  .our-goal__invite-item.card-blink {
    padding: 15px 5px;
  }
  .our-goal__invite-item.card-blink {
    font-size: 18px;
  }

  .our-goal__you-get {
    padding: 40px 30px;
  }
  .our-goal__you-get-list {
    grid-gap: 30px 20px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-auto-flow: column;
  }
}
@media (max-width: 800px) {
  .our-goal__title {
    margin-bottom: 5px;
  }
  .our-goal__paragraph {
    margin-bottom: 20px;
  }

  .our-goal__invite-item.card-blink {
    min-height: 100px;
    font-size: 16px;
  }

  .our-goal__you-get-item::before {
    font-size: 34px;
  }
  .our-goal__you-get-item p {
    padding-left: 15px;

    font-size: 18px;
  }
}

@media (max-width: 600px) {
  .our-goal__you-get-list {
    grid-gap: 30px 20px;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(1, 1fr);
    grid-auto-flow: row;

    max-width: 500px;
    margin: 0 auto;
  }
  .our-goal__you-get {
    padding: 30px 15px 0 15px;
    border-radius: 0;
    border: none;
    border-top: 1px solid var(--accent-color);
    margin: 0 -15px;
  }
  .our-goal__you-get-title {
    min-width: 130px;
    padding: 24px;
  }
  .our-goal__you-get-item p {
    padding-left: 15px;

    font-size: 16px;
  }
}
