.press-center__slider {
  margin-top: 38px;
  margin-bottom: 40px;
}
.press-center__slider-arrows {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-top: 40px;
}

.press-center__slide-link-wrapper {
  display: block;

  text-decoration: none;

  color: var(--main-text-color);
}
.press-center__slide-date {
  display: inline-block;
  margin-bottom: 20px;

  font-size: 16px;
  font-weight: 500;

  color: var(--grey-color);
}
.press-center__slide-img-wrapper {
  width: 100%;
  margin-bottom: 16px;
  -webkit-border-radius: var(--default-border-radius);
  -moz-border-radius: var(--default-border-radius);
  border-radius: var(--default-border-radius);

  overflow: hidden;
}
.press-center__slide-img-wrapper img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}
.press-center__slide-title {
  margin-bottom: 16px;

  font-size: 20px;
  font-weight: 700;
  font-family: "Mulish";

  color: var(--main-text-color);
}
.press-center__slide-paragraph {
  margin-bottom: 20px;

  height: 70px;
  /* Выводить только 4 строки */
  overflow: hidden;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  display: -moz-box;
  -moz-box-orient: vertical;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  line-clamp: 4;
  box-orient: vertical;
}
.press-center__slide-more {
  color: var(--grey-color);
}
@media (max-width: 600px) {
  .press-center__slide-paragraph {
    height: 63px;
  }
}
