.results-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 35px 40px;
}

.results-list__item-title {
  margin-bottom: 11px;

  text-align: center;

  color: var(--accent-color);
}

.results-list__item-info {
  position: relative;
  z-index: 5;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;

  font-size: 20px;
  font-weight: 700;
}
@media (max-width: 800px) {
  .results-list {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
  }
}
@media (max-width: 600px) {
  .results-list {
    grid-gap: 7px;
    grid-template-columns: repeat(1, 1fr);
  }
  .results-list__item-title {
    margin-bottom: 2px;

    font-size: 40px;
  }
}
@media (max-width: 460px) {
}
