.survey {
  position: relative;
  display: flex;
  justify-content: flex-start;
  max-width: 580px;
  width: 100%;

  margin: 0 auto;
}
.survey__info {
  position: relative;
  z-index: 3;
  max-width: 305px;
  width: 100%;

  text-align: left;
}
.survey__title {
  margin-bottom: 10px;
  width: 100%;
  text-align: left;
}
.survey__paragraph {
  width: 100%;
  margin-bottom: 30px;
}
.survey__button {
  margin-top: auto;
  max-width: 200px;
  width: 100%;
  box-sizing: border-box;
}
.survey__img-wrapper {
  position: absolute;
  top: 50%;
  right: 20px;

  transform: translateY(-50%);
}
.survey__img {
  width: 100%;
  display: block;
}
@media (max-width: 460px) {
  .survey__button {
    max-width: 110px;
    padding: 10px 4px;
  }
}
