.survey {
  position: relative;
  display: flex;
  justify-content: flex-start;
  max-width: 580px;
  width: 100%;

  margin: 0 auto;
}
.survey__info {
  max-width: 305px;
  width: 100%;

  text-align: left;
}
.survey__title {
  margin-bottom: 17px;
  width: 100%;
  text-align: left;
}
.survey__paragraph {
  width: 100%;
  margin-bottom: 30px;
}
.survey__button {
  margin-top: auto;
  max-width: 200px;
  width: 100%;
  box-sizing: border-box;
}
.survey__img-wrapper {
  position: absolute;
  right: 20px;
}
