.video-wrapper {
  position: relative;
  -webkit-border-radius: var(--default-border-radius);
  -moz-border-radius: var(--default-border-radius);
  border-radius: var(--default-border-radius);

  overflow: hidden;
}
.video {
  position: absolute;
  display: block;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  -o-object-fit: cover;
  object-fit: cover;
}

.video__preview {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 2;

  cursor: pointer;
}
.video__preview--show {
  display: block;
}

.video__preview-text {
  position: absolute;
  left: 6%;
  top: 10%;
  padding-left: 3.3%;

  text-align: left;
  font-weight: 700;
}
.video__preview-text::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 2px;

  background-color: var(--accent-color);
}
.video__preview-button {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);

  width: 70px;
  height: 70px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;

  background-color: rgba(255, 255, 255, 0.5);
}
.video__preview-button::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-image: url(./../../images/icons/video-play.png);
  background-repeat: no-repeat;
  background-position: 55% center;
  -webkit-background-size: 40% 50%;
  -moz-background-size: 40% 50%;
  background-size: 40% 50%;
}

.video__preview-img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}
@media (max-width: 600px) {
  .video__preview-button {
    width: 50px;
    height: 50px;
  }
}
